[submodule "NonDeepMethodBaseline"]
	path = NonDeepMethodBaseline
	url = https://github.com/olvb/pyheal
[submodule "DeepMethodBaseline"]
	path = DeepMethodBaseline
	url = https://github.com/nipponjo/deepfillv2-pytorch.git
